@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Montserrat-Regular';
    src: url(./assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(./assets/fonts/Montserrat/static/Montserrat-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(./assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}