@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Montserrat-Regular';
    src: url(./assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(./assets/fonts/Montserrat/static/Montserrat-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(./assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

.vertical-gutter { grid-area: 1 / 2 / 4 / 2; }
.horizontal-gutter { grid-area: 2 / 1 / 2 / 4; }
  
.vertical-gutter-1 { grid-area: 1 / 2 / 1 / 2; }
.vertical-gutter-2 { grid-area: 1 / 4 / 1 / 4; }
.vertical-gutter-3 { grid-area: 1 / 6 / 1 / 6; }


  